@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
 width: 2px;
}

::-webkit-scrollbar-thumb{
 background-color: rgba(255, 255, 255, 0.5442);
 border-radius: 9999px;
}

@layer{
 .App {
  @apply bg-bannerImage bg-cover bg-no-repeat bg-center
  flex 
 }
 .NavBar{
  @apply bg-UserListBg/80 flex flex-col text-[12px]
  items-center text-white font-normal w-fit !important
 }
 .NavComponentsOptions{
  @apply  w-full p-2
 }
 .ChatOptionSelector{
  @apply relative flex flex-col items-center 
  justify-center h-16 w-16 focus:bg-ChatOptionsBg
  duration-300 ease-in-out hover:bg-ChatOptionBg 
  rounded cursor-pointer !important
 }
 .ChatOptionHolderIcon{
  @apply flex items-center justify-center 
 }
 .Icon{
  @apply group-focus:stroke-ChatOptionsHoverBg !important
 }
 .ChatGPTPic{
  @apply h-9 w-9 rounded !important
 }
 .Chat{
  @apply flex w-full !important
 }
 .ChatBody{
  @apply fill-white h-[100vh] w-[40%] bg-UserListBg/80 text-white font-semibold px-[19.5px] py-[15.5px]
 }
 .ChatTitle{
  @apply flex w-fit justify-center gap-x-[13.5px]
 }
 .Menu{
  @apply sticky left-0 cursor-pointer
 }
 .SearchForm{
  @apply flex w-full justify-center px-[11px] py-[5px] 
  font-normal text-sm bg-SearchInputBg rounded border-b
  border-solid border-white !important
 }
 .SearchInput{
  @apply w-full bg-transparent outline-none border-none
 }
 .SearchHodlerIcon{
  @apply rotate-90 font-thin !important
 }
 .UserListHolder{
  @apply flex flex-col w-full h-full overflow-y-auto
 }

 /* user Component */
 .UserComponent{
  @apply relative flex items-center w-full py-[10px] gap-x-[10px] 
  cursor-pointer hover:bg-SearchInputBg rounded 
  duration-300 ease-in-out outline-none px-2 !important
 }
 .SelectedDiscussion{
  @apply h-0 w-[3px] rounded-full bg-SelecteDiscussionBg 
  absolute left-0 top-[20px] duration-300 ease-in-out
  group-focus:h-7 
 }
 .SelectedType{
  @apply duration-200 ease-in-out h-0 top-[25px] 
  group-focus:h-4
  w-[3px] rounded-full bg-SelecteDiscussionBg 
  absolute left-0  
 }
 .chatItem{
  @apply group-focus:text-ChatOptionsHoverBg
 }
 .UserOnlineComponent{
  @apply relative
 }
 .UserComponentInfo{
  @apply w-full
 }
 .userImagePic{
  @apply h-[45px] w-[55px] rounded-[50%] !important
 }
 .UserOnlineChecker{
  @apply h-[10px] w-[10px] rounded-full bg-green-500 
  absolute bottom-[2px] right-[2px] !important
 }
 .UserInfo{
  @apply flex justify-between items-center !important
 }
 .Username{
  @apply flex gap-x-[5px] items-center font-semibold text-[15px] !important
 }
 .UserLastMessageTime{
  @apply font-normal text-sm text-MessagesTime !important
 }
 .UserLastMessage{
  @apply font-normal text-sm text-LattestMessageColor 
  truncate w-[200px]
 }

 /* chat messaging component */
 .ChatRoom{
  @apply bg-UserListBg/80 flex flex-col h-full 
  text-white font-medium !important
 }
 .SelectedComponent{
  @apply flex items-center justify-center h-full 
  w-full !important
 }
 .SelectChat{
  @apply flex items-center justify-center bg-MessagingComponentBg
  py-2 px-[11px] text-white rounded-[17px] cursor-pointer font-medium
  text-sm !important
 }
 .ChatMessaginComponent{
  @apply w-full
 }
 .ChatRoomDetails{
  @apply w-full flex justify-between items-center
 }
 .ChatRoomHeader{
  @apply w-full py-4 px-3 shadow-md rounded-tl-[7px] !important
 }
 .UserChatInfo{
  @apply w-full flex gap-x-[10px] items-center
 }
 .userImage{
  @apply h-[50px] w-[50px] rounded-[50%] !important
 }
 .Online , .RoomMembers {
  @apply text-sm font-normal cursor-pointer !important
 }
 .Online{
  @apply text-ChatOptionsHoverBg 
 }
 .RoomMembers{
  @apply text-LattestMessageColor
 }
 .MessaginOptions{
  @apply flex gap-x-5 items-center justify-center
 }
 .Option{
  @apply flex items-center justify-center h-10 w-10
  bg-ChatOptionsBg rounded-full cursor-pointer 
  duration-300 ease-in-out hover:bg-ChatOptionsHoverBg !important
 }
 .ChatMessaging{
  @apply flex-1
 }
 .UserMessageComponent{
  @apply w-full pb-[14px] px-[45px] !important
 }
 .MessageForm{
  @apply flex items-center justify-between w-full rounded-lg
  bg-ChatMessagingComponent py-1 px-[13px] !important
 }
 .UserFilesWithMessaging , .EmojiHolderWithVocal{
  @apply flex items-center gap-x-2
 }
 .UserFilesWithMessaging{
  @apply w-[88%]
 }
 .MessageInput{
  @apply bg-transparent outline-none border-none 
  placeholder:font-normal placeholder:text-base
  text-MessaginInputTextColor w-full !important
 }
 .MessageOption{
  @apply h-[40px] w-[40px] rounded-full duration-300 
  ease-in-out flex items-center justify-center
  hover:bg-ChatOptionsBg cursor-pointer
 }
 .FilesInput{
  @apply hidden 
 }
 .ChatMessaging{
  @apply p-[13px]
 }
 .MessagesHolder{
  @apply h-full w-full flex flex-col gap-y-4 overflow-y-scroll text-sm 
  font-normal !important
 }
 .MessageComponentUser{
  @apply w-full flex justify-end !important
 }
 .MessageComponentUserFriend{
  @apply w-full flex justify-start !important
 }
 .UserMessage{
  @apply w-fit flex items-center gap-x-2 bg-UserMessageBg
  rounded-l-[14px]  py-[10px] px-2
 }
 .FriendUserMessage{
  @apply w-fit flex items-center gap-x-2 bg-UserFriendMessageBg
  rounded-r-[14px] py-[10px] px-2
 }
}